{{extend 'layout.html'}}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action="confirm.html" method="post">
    First name<input type="text" name="first_name"><br>
    Last name <input type="text" name="last_name"><br>
    Username <input type="text" name="usename"><br>
    Email <input type="email" name="email"><br>
    Password<input type="password" name="password"><br>
    Confirm Password<input type="password" name="confirm_password">
    Voters Registration Number <input type="text" name="voters_number">
    <br><br>
    <input type="submit" name="submit">
</form>

</body>
</html>